# Python
__pycache__/
*.py[cod]
venv/
.venv/
.idea/
build/
dist/
*.egg-info/
node_modules/
.env
*.db
*.sqlite3
*.log
*.zip

# Added during repository preparation
env/
.vscode/
*.xlsx

# Runtime files written by the app - contain SMTP credentials / licence data
email_profiles.json
selected_profile.json
license.dat
